<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body>

	<div class="topnav">
		<a class="active" th:href="@{/register-page=2}">Home</a> <a
			th:href="@{/edit_menu}">Menu</a> <a href="#kitchen"><span
			th:text="${kitchen.name}"></span></a> <a href="/">Logout</a>
	</div>

	<h1>Add Menu Items</h1>
	<form th:action="@{/add_menu_item}" th:object="${menu}" method="post">

		<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
			th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
			error</p>

		<div class="form-group"
			th:classappend="${#fields.hasErrors('itemName')}? 'has-error':''">
			<label for="itemName" class="control-label">Item Name</label> <input
				id="itemName" class="form-control" th:field="*{itemName}" />
			<p class="error-message"
				th:each="error: ${#fields.errors('itemName')}" th:text="${error}">Validation
				error</p>
		</div>
		<div class="form-group"
			th:classappend="${#fields.hasErrors('veg')}? 'has-error':''">
			<label>Veg</label> <input type="checkbox" name="veg"
				th:checked="${veg}" value="true" /> <label>Non-Veg</label> <input
				type="checkbox" name="veg" th:checked="${veg}" value="false" />
			<p class="error-message" th:each="error : ${#fields.errors('veg')}"
				th:text="${error}">Validation error</p>
		</div>
		<div class="form-group"
			th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
			<label for="price" class="control-label">Price</label> <input
				id="price" class="form-control" th:field="*{price}" />
			<p class="error-message" th:each="error : ${#fields.errors('price')}"
				th:text="${error}">Validation error</p>
		</div>
		<br>
		<div class="form-group">
			<a href="/edit_menu"><button type="button">Cancel</button></a>
			<button type="submit">Add</button>
		</div>
	</form>
</body>
</html>